{
  "semi": true, 
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 300,
  "proseWrap": "never",
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5"
}
